div.dt-button-collection {
    display: flex;
    /* padding: 0 !important; */
    align-items: center !important;
    justify-content: center !important;
    width: fit-content !important;
}

div.dt-buttons > .dt-button:focus:not(.disabled),
div.dt-buttons > div.dt-button-split .dt-button:focus:not(.disabled) {
    outline: none !important;
}

div.dt-button-collection button.dt-button {
    display: flex;
    font-size: smaller;
    border: 0 !important;
}


.custom-collection {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

div.dt-buttons {
    margin: 0 !important;
    padding: 0 !important;
}

span.dt-button-down-arrow {
    display: none;
}

div.dt-search label {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(71 85 105);
}

div.dt-container .dt-search input {
    border: 1px solid rgb(156 163 175);
    border-radius: 4px;
}

div.dt-container .dt-search :focus {
    border: 1px solid rgb(156 163 175);
    border-radius: 4px;
}

div.dt-buttons .dt-button span.ui-icon {
    display: none !important;
}

/* table.display.dataTable > tbody > tr.selected > *,
table.display.dataTable > tbody > tr.odd.selected > *,
table.display.dataTable > tbody > tr.selected:hover > *  {
    box-shadow: inset 0 0 0 9999px lime !important;
    color: white;
    background-color: red !important;
} */